body {
  font-family: raleway;
  background-color: white;
  margin: 0 auto;
  max-width: 1165px;
  margin-right: 34px;
  margin-left: 34px;
}
.reservia {
  display: flex;
}
.top-header {
  display: flex;
  margin-bottom: 17px;
  margin-left: -10px;
}
.top-header img {
  margin-right: 750px;
  margin-top: 5px;
  max-width: 100px;
}
.blocknav {
  display: flex;
  margin-top: 20px;
}
.nav-itemblue a {
  display: flex;
  color: blue;
  list-style: none;
  text-decoration: none;
  margin-right: 34px;
  margin-left: 34px;
  font-size: 14px;
  font-weight: thick;
  border-top: 5px solid blue;
}
.nav-item a {
  display: flex;
  color: black;
  list-style: none;
  text-decoration: none;
  margin-right: 34px;
  margin-left: 34px;
  font-size: 14px;
  font-weight: thick;
}
.nav-inscription a {
  display: flex;
  padding-left: 34px;
  text-decoration: none;
  padding-right: 4px;
  font-size: 14px;
  color: blue;
  font-weight: bolder;
}
.nav-link-active a {
  display: flex;
}
.trouvez {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 10px;
}
.nature {
  display: flex;
  margin-top: -10px;
  font-size: 13px;
}
.text {
  display: flex;
}
.marseille {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding-bottom: 24px;
  margin-left: -34px;
  align-items: center;
}
.inmarseille {
  display: flex;
  flex-direction: row;
  margin-left: 34px;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  border-top: 1px solid darkgrey;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
.filtersin {
  display: flex;
  flex-direction: row;
  border-radius: 40px;
  border-color: black;
  margin-left: 24px;
  margin-right: 24px;
  border: 0.5px solid darkgrey;
  align-items: center;
  font-size: 14px;
}
.textfilters {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
}
.fa-map-marker-alt {
  display: flex;
  background-color: lightgray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  margin-left: -34px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: 1px solid darkgrey;
  border-top: 1px solid darkgrey;
  align-self: center;
}
.rechercher {
  display: flex;
  background-color: blue;
  color: white;
  padding-right: 14px;
  padding-left: 14px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.fa-money-bill-wave {
  display: flex;
  color: blue;
  background-color: lightskyblue;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  border-radius: 40px;
  align-self: center;
}
.fa-child {
  display: flex;
  color: blue;
  background-color: lightskyblue;
  padding-left: 17px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 17px;
  border-radius: 40px;
  align-self: center;
}
.fa-heart {
  display: flex;
  color: blue;
  background-color: lightskyblue;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 15px;
  border-radius: 40px;
  align-self: center;
}
.fa-dog {
  display: flex;
  color: blue;
  background-color: lightskyblue;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  border-radius: 40px;
  align-self: center;
}
.fa-info-circle {
  display: flex;
  color: darkgrey;
  margin-left: -14px;
  padding-right: 10px;
}
.fa-chart-line {
  display: flex;
  margin-left: 90px;
  margin-top: 3px;
}
.allstars {
  display: flex;
  flex-direction: row;
  padding-top: 2px;
}
.greystar {
  color: lightgray;
}
.bluestar {
  color:rgb(0, 102, 255)
}
.hbg {
  display: flex;
  font-size: 13px;
  margin-top: 10px;
}
.blockbigtitle {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}
.blocksmalltitle {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  line-height: 1.5;
}
.bigsmalltitle {
  display: flex;
  font-weight: bold;
  width: 100%;
  padding-top: 5px;
}
.nuit {
  display: flex;
  padding-bottom: 25px;
  padding-top: 5px;
}
.smalltitleact {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 10px;
}
.blockbigtitleact {
  display: flex;
  font-size: 20px;
}
.afficher {
  display: flex;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 7px;
  font-weight: bold;
  margin-bottom: 5px;
}
.containertwo {
  display: flex;
  margin-bottom: 20px;
  max-height: 100%;
  margin-top: -20px;
  gap: 20px;
  margin-right: -34px;
  margin-bottom: 50px;
}
.imgblockhbg {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 4px;
  max-width: 236px;
  height: 90px;
}
.imgblockhbghalfmer {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 4px;
  height: 90px;
}
.imgblockhbghalfamina {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 4px;
  height: 90px;
}
.imgblockpop {
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.blockheb {
  display: flex;
  background-color: lightgray;
  flex-wrap: wrap;
  word-wrap: normal;
  flex-direction: column;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
}
.miniblockheb {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-bottom: 25px;
}
.blockpop {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 14px;
  width: 100%;
  height: 100%;
  width: 500px;
  height: 500px;
  padding-bottom: 5px;
}
.miniblockpichbg {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: column;
  object-fit: cover;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 213px;
  border: 3px solid white;
  box-shadow: 6px 6px 6px var(darkgrey);
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.miniblockpicpop {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: column;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 3px solid white;
  box-shadow: 6px 6px 6px var(darkgrey);
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
  height: 110px;
}
.blockact {
  display: flex;
  background-color: lightgray;
  border-radius: 10px;
  flex-wrap: wrap;
  height: 100%;
  margin-right: -34px;
  height: 100%;
  gap: 20px;
}
.inblockact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.miniblockpicactvieuxportcalanques{
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: column;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px solid white;
  max-width: 250px;
  height: 400px;
  box-shadow: 6px 6px 6px var(lightgray);
}
.divimgactvieuxportcalanques {
  display: flex;
  height: 100%;
}
.imgblockactonevieuxportcalanques {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: 360px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.miniblockpicactfort {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: column;
  object-fit: cover;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px solid white;
  width: 240px;
  height: 220px;
  box-shadow: 6px 6px 6px var(darkgrey);
}
.divimgactfort {
  display: flex;
  height: 100%;
}
.imgblockactfort {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: 180px;
  width: 240px;
}
.miniblockpicactfrioul {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: column;
  object-fit: cover;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px solid white;
  max-width: 240px;
  height: 150px;
  box-shadow: 6px 6px 6px var(darkgrey);
}
.divimgactfrioul {
  display: flex;
  height: 100%;
}
.imgblockactfrioul {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: 110px;
}
.miniblockpicactgardelongchamps {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: column;
  object-fit: cover;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px solid white;
  width: 240px;
  height: 180px;
  box-shadow: 6px 6px 6px var(darkgrey);
}
.divimgactgardelongchamps {
  display: flex;
  height: 100%;
}
.imgblockactgardelongchamps {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  width: 240px;
  height: 140px;
}
.divimghbg {
  display: flex;
  height: 100%;
}
.divimghbghalf {
  display: flex;
  height: 100%;
}
.divimgpop {
  display: flex;
  height: 100%;
  width: 100%;
}
.section {
  display: flex;
  margin: 34px;
  margin-top: -2px;
  margin-bottom: 34px;
  flex-direction: column;
  list-style: none;
}
.section h2 {
  display: flex;
  margin-top: -5px;
  margin-left: -34px;
}
.section li {
  display: flex;
  margin-left: -16px;
}
footer {
  background-color: lightgray;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-left: -64px;
  margin-right: -64px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 40px;
}
.footer-section {
  margin-right: auto;
  margin-top: 8px;
}
.footer-section h3 {
  text-align: left;
  margin-bottom: 5px;
}
.footer-section ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}
.footer-section li {
  display: flex;
  text-align: left;
  color: black;
}
.footer-section a {
  color: black;
  text-decoration: none;
}
.image-wrapper {
  display: flex;
}
.image-wrapper section {
  display: flex;
}
