body {
  max-width: none;
  margin: 64px;
}
.top-header {
  display: flex;
  align-items: center;
}
.top-header img {
  margin-right: auto;
  padding-left: 0px;
}
.nav-item {
  display: flex;
  color: blue
  list-style: none;
  text-decoration: none;
}
.nav-inscription {
  display: flex;
  padding-left: 100px;
  color: blue;
}
.nav-link-active {
  display: flex;
  padding-left: 64px;
}
.section {
  display: flex;
  margin: 64px;
  margin-top: -30px
}
.container {
  display: flex;
  background-color: gray;
}
.span {
  display: flex;
}
.footer {
  display: flex;
  text-align: center;
}
.footer-section {
  display: flex;
  text-align: center;
  margin-right: 64px;
}
.image-wrapper {
  display: flex;
}
.image-wrapper section {
  display: flex;
}